:root {
  --text-color: #bebebe;
}

body {
  margin: 0;
  padding: 0;
  verflow: hidden;
  position: fixed;
  cursor: default;
  width: 100%;
  height: 100%;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}

#card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 98%;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#card1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

img {
  border-radius: 8px;
  width: 100%;
  height: 50%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: --text-color;
  background: radial-gradient(
                circle,
                white 0%,
                black 100%
    );
  --poster-color: --text-color;
  --progress-bar-color: #FFCC01;
  --progress-bar-height: 1%;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh;
}

.attribution h1 {
  margin: 0 0 0.25em;
  font-size: 2.5vh;
  color: #6F6F6F;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

.attribution a {
  font-size: 1.5vh;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  color: #6F6F6F;
}

.attribution img {
  opacity: 0.5;
  height: 1vh;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

  .slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 16px;
    z-index: 10;
  }

  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    display: block;
    width: max-content;
    height: 4vh;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    text-align:center;
    font-size: 1.75vh;
    margin-right: 1vh;
    border-radius: 1vh;
    padding: 0.5vh;
    --min-hotspot-opacity: 0;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
  }

  .slide.selected {
    background: #FFCC01;
    background: radial-gradient(
                circle,
                #FFCC01 0%,
                --text-color 200%
    );
  }

  .slide:focus {
    outline: none;
  }

  .slide:focus-visible {
    outline: 1px solid #6A89C9;
  }

  button{
    display: block;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    text-align:center;
    font-size: 2vh;
    color: #6F6F6F;
    padding: 0px;
    border: 2px solid #4285f4;
  }


  button[slot="hotspot-hrad"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-kostel"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-prazska"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-basta"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-synagoga"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-kourimska"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-caslavska"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-labska"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-radnice"]{
    --min-hotspot-opacity: 0;
  }
  button[slot="hotspot-parkan"]{
    --min-hotspot-opacity: 0;
  }

  /* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }
