@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

*{
	font-family: 'Baloo Paaji 2', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  verflow: hidden;
  position: fixed;
  cursor: default;
  width: 100%;
  height: 100%;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: transparent !important;
}
  
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
}

.hover_collapse .sidebar{
	width: 4vh;
  transition: 300ms ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;

}

.hover_collapse .sidebar ul li a .text{
	display: none;
  transition: 200ms ease-in-out;
}

.hover_collapse .sidebar ul li a .icon1{
	display: none;
  transition: 200ms ease-in-out;
}

.hover_collapse .sidebar ul li a .title{
	display: none;
  transition: 200ms ease-in-out;
}

.sidebar{
  overflow-y: scroll;
  transition: 100ms ease-in-out;
	position: fixed;
	top: 0px;
	left: 0;
	width: 30%;
	height: 100%;
	background: #005faf;
  counter-reset: section;
  z-index: 10;
}

.sidebar ul li a{
	display: block;
	padding: 1vh 1vh;
	border-bottom: 1px solid #0e94d4;
	color: #0e94d4;
	transition: all 0.2s ease;
}


.sidebar ul li a .icon::before {
  counter-increment: section;                 
  content: counter(section);    
}                                                
                                                   
.sidebar ul li a .icon{
  color: #6F6F6F;
	font-size: 1.5vh;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  background: white;
	background-size: 3vh 1vh;
  text-align:center;
  border-radius: 1vh;
  padding: 0.5vh;
  width: 10vh;
}

.sidebar ul li a .icon1{
  color: black;
	font-size: 2vh;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  background: white;
	background-size: 3vh 1vh;
  text-align:center;
  border-radius: 1vh;
  padding: 0.5vh;
}

.sidebar ul li a .icon.selected {
    background: #FFCC01;
    background: radial-gradient(
                circle,
                #FFCC01 0%,
                --text-color 200%
    );
  }

.sidebar ul li a .icon1.selected {
    background: #C54D32;
    background: radial-gradient(
                circle,
                #C54D32 0%,
                --text-color 200%
    );
  }

.sidebar ul li a .text{
  transition: 200ms ease-in-out;
  display: inline-block;
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.sidebar ul li a .title{
  display: inline-block;
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.sidebar ul li a:hover{
	background: #0e94d4;
	color: #fff;
}

.hover_collapse .main_container{
	width: calc(100% - 4vh);
  transition: 200ms ease-in-out;
}


.main_container{
  transition: 100ms ease-in-out;
  position: absolute;
	top: 0px;
	right: 0px;
	width: 70%;
  height: 100%;
}

block {
  top: 0px;
  right: 0px;
  width: 80%;
  height: 90%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: --text-color;
  background: radial-gradient(
                circle,
                white 0%,
                #6F6F6F 100%);
  --poster-color: --text-color;
  --progress-bar-color: #FFCC01;
  --progress-bar-height: 1%;
}


*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  overflow-y: scroll;
  position: fixed;
  top: 0%;
  transform: scaleX(0);
  transition: 200ms ease-in-out;
	background: #005faf;
  width: 30%;
  height: 100%;
  counter-reset: mysection;
  z-index: 10;
}

.modal.active {
  transform: scaleX(1);
}

.modal.hide{
  transform: scaleX(1);
	width: 4vh;
  transition: 200ms ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal.hide .close-button { 
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.modal.hide .title{
  	display: none;
}

.modal.hide ul li a .text{
  	display: none;
}

.modal.hide ul li a .icon1{
  	display: none;
}

.modal-body. .popis.hide {
  	display: none;
}


.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  display: inline-block;
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.modal-header .a {
  display: inline-block;
  cursor: none;
	margin-left: 10px;
	color: #C54D32;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.modal .close-button { 
  position: absolute;
  cursor: pointer;
  width: 2vh;
  height: 2vh;
  color: #C54D32;
  bottom: 1vh;
  left: 1vh;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.modal-body {
	margin-left: 10px;
	color: #fff;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.modal-body .popis{
  transform: scaleX(0);
  position: absolute;
  margin-left: 10px;
	color: #fff;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.modal-body .popis.selected {
  transform: scaleX(1);
}

.modal ul li a .icon1{
  color: black;
	font-size: 2vh;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  background: white;
	background-size: 3vh 1vh;
  text-align:center;
  border-radius: 1vh;
  padding: 0.5vh;
}

.modal ul li a{
	display: block;
	padding: 0.5vh .5vh;
	border-bottom: 1px solid #0e94d4;
	color: #0e94d4;
	transition: all 0.2s ease;
}

.modal ul li a .icon::before {
  counter-increment: mysection;                 
  content: counter(mysection);    
}                                                
                                                   
.modal ul li a .icon{
  color: #6F6F6F;
	font-size: 1.5vh;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  background: white;
	background-size: 3vh 1vh;
  text-align:center;
  border-radius: 1vh;
  padding: 0.5vh;
  width: 10vh;
}


.modal ul li a .icon.selected {
    background: #FFCC01;
    background: radial-gradient(
                circle,
                #FFCC01 0%,
                --text-color 200%
    );
  }

.modal ul li a .icon1.selected {
    background: #C54D32;
    background: radial-gradient(
                circle,
                #C54D32 0%,
                --text-color 200%
    );
  }

.modal ul li a .text{
  transition: 200ms ease-in-out;
  display: inline-block;
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}