*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0%;
  transform: scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 90%;
  max-width: 80%;
  max-heigth: 60%;
  z-index: 10;
}

.modal.active {
  transform: scale(1);
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 2vh;
  font-weight: bold;
}

.modal-header.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3vh;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  font-size: 1.75vh;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 20;
}